header {
  height: 10vh;
  background-color: rgb(43, 125, 226);
}

nav {
  color: white;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3px;
  border-radius: 3px;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}